:root {

  --primary: #114d4d;

  --secondary: #eff1e3;

  --tertiary: #a6d1bf;

  --quaternary: #36173d;

  --quinary: #156464;
}

* {
  color: var(--secondary);
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

h4 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1.3rem;
}

h2 {
  font-size: 1.5rem;
}

h1 {
  font-size: 2rem;
}

body {
  background-color: var(--primary);
}

.create-card-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 1rem 1rem 0;
}

.flex-column {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.flex-row-around {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.gap-05 {
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-3 {
  gap: 3rem;
}


.card {
  align-items: center;
  background-color: white;
  border: 1px solid gray;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 2px gray;
  color: var(--quaternary);
  display: flex;
  flex-direction: column;
  height: 28rem;
  justify-content: space-around;
  padding: 0.5rem;
  width: 18rem;
}

.card img {
  border-radius: 0.5rem;
  width: 70%;
}

.card h5 {
  align-self: flex-start;
  color: var(--quaternary);
  display: inline;
}

.card span {
  color: var(--quaternary);
}

.card .trunfo {
  align-self: flex-end;
  background-color: var(--tertiary);
  border-radius: 0.5rem;
  color: var(--quaternary);
  padding: 2px;
}

.width-min-80 {
  min-width: 80%;
}

.width-100 {
  width: 100%;
}

.label-text {
  font-weight: 500;
  transition: 0.5s;
  width: 90%;
}

.label-text input {
  border: 1px solid gray;
  border-radius: 0.5rem;
  box-sizing: content-box;
  color: black;
  font-size: 1rem;
  padding: 8px 8px 8px 12px;
  width: 100%;
}

.label-select {
  font-weight: 500;
  transition: 0.5s;
  width: 90%;
}

.label-select select {
  border: 1px solid gray;
  border-radius: 0.5rem;
  box-sizing: content-box;
  color: black;
  font-size: 0.9em;
  padding: 10px 10px 10px 15px;
  width: 100%;
}

.label-select select option {
  color: var(--primary);
}

.label-check {
  font-weight: 500;
  transition: 0.5s;
  width: 100%;
}

.label-check input {
  color: black;
  margin: 10px;
}

.btn {
  border-radius: 0.5rem;
  color: var(--primary);
  padding: 10px 10px 10px 15px;
  width: 100%;
}

.margin-b-20 {
  margin-bottom: 20px;
}

.card-title {
  background-color: var(--tertiary);
  border-radius: 0.5rem;
  color: var(--quaternary);
  padding: 2px;
}

.card-description {
  background-color: var(--tertiary);
  border-radius: 0.5rem;
  min-height: 20%;
  padding: 4px;
  width: 80%;
}

.all-cards-div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 1rem 1rem 0;
}

.all-cards {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  max-width: 700px;
}

.add-card-pre-vis {
  background-color: var(--quinary);
  border-radius: 0.5rem;
  padding: 2rem;
}

.normal {
  background-color: brown;
  border-radius: 30%;
  color: white;
  padding: 5px;
}

.raro {
  background-color: gray;
  border-radius: 30%;
  color: black;
  padding: 5px;
}

.muito {
  background-color: yellow;
  border-radius: 30%;
  color: black;
  padding: 5px;
}

.filters {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
}
